<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8"/>
    <title>关键字详情</title>
        <script type="text/javascript" src="js/jquery-3.2.1.js"></script>
    <script type = "text/javascript" src = "js/keywords.js"></script>
    <link rel="stylesheet" href="css/keywords.css" type="text/css"/>
</head>

<body>
<table class="keywords_tb">
    <tbody>
    <tr>
        <td colspan="4" style="text-align: left;">关键词：
            <input id="keyword" type="text">有效期(小时)：
            <input id="hours" type="text">密钥：
            <input id="secretKey" type="password">
            <input id="add" type="button" value="新增">
        </td>
    </tr>
    </tbody>
</table>
<br>

<table id="lst_keywords" class="keywords_tb" style="margin-top: 30px;">
    <tbody>
    <tr>
        <th>关键字</th>
        <th>有效期（小时）</th>
        <th>已使用次数</th>
        <th>创建时间</th>
        <th></th>
    </tr>
    <!--<tr>
    <td>杀手帮帮忙</td>
    <td>720</td>
    <td>80</td>
    <td>2017-05-13 18:31:23</td>
</tr>
<tr>
    <td>月明三更</td>
    <td>360</td>
    <td>76</td>
    <td>2017-05-13 18:32:23</td>
</tr>-->
    </tbody>
</table>
</body>

</html>